@page "{id}"
@using _0_Framework.Application
@model ServiceHost.Areas.Dashboard.Pages.NotificationModel
@inject IAutenticateHelper AutenticateHelper;
@{ ViewData["Title"] = "Dashboard | Notification"; }

<div class="divide-y divide-gray-200 lg:col-span-9">
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <!-- operation-result -->
                    <div class="rounded-md bg-green-50 p-4 transition ease-in-out duration-75" id="operation-result" style="display: none">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <!-- Heroicon name: solid/check-circle -->
                                <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-green-800" id="operation-result-message">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="rounded-md bg-red-50 p-4 transition ease-in-out duration-75" id="operation-result-failed" style="display: none">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <!-- Heroicon name: solid/check-circle -->
                                <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-red-800" id="operation-result-failed-message">

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    <form method="get" id="edit-user-form" asp-page-handler="MarkAllRead" asp-page="/Notification"
                          data-callback="" data-ajax="true" data-action="Refresh" class="mx-3 my-3 font-medium text-sm text-white">
                        <input type="hidden" value="@AutenticateHelper.CurrentAccountRole().Id" name="Id" />
                        <button type='submit' class="bg-sky-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                            Mark All Read
                        </button>
                    </form>
                    <table class="min-w-full border-collapse block md:table" id="main-table">
                        <thead class="block md:table-header-group">
                            <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
                                <th class="hidden"></th>
                                <th class="bg-gray-50 p-2 text-gray-600 font-bold md:border md:border-grey-500 text-left block md:table-cell">Title</th>
                                <th class="bg-gray-50 p-2 text-gray-600 font-bold md:border md:border-grey-500 text-left block md:table-cell">Message</th>
                                <th class="bg-gray-50 p-2 text-gray-600 font-bold md:border md:border-grey-500 text-left block md:table-cell">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="block md:table-row-group">
                            @foreach (var item in Model.Command)
                            {
                <tr class="bg-white border border-grey-500 md:border-none block md:table-row">
                    <td class="hidden"> @item.Id</td>
                    <td class="p-2 md:w-1/4 md:border md:border-grey-500 text-left block md:table-cell">
                        <span class="inline-block w-1/3 md:hidden font-bold">Account Info</span>
                        <div>
                            <div class="text-sm text-gray-900">
                                @item.NotificationTitle
                            </div>
                            <div class="text-xs text-gray-500">
                                @item.CreationTime
                            </div>
                        </div>
                    </td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                        <span class="inline-block w-1/3 md:hidden font-bold">Message</span>
                        <div>
                            <div class="text-sm text-gray-900">
                                @item.NotificationBody
                            </div>
                        </div>
                    </td>
                    <td class="p-2 md:w-1/4 md:border md:border-grey-500 text-left block md:table-cell">
                        <span class="inline-block w-1/3 md:hidden font-bold">Actions</span>
                        <form asp-page="./Notification" asp-page-handler="MarkRead" class="divide-y divide-gray-200 lg:col-span-9 col-span-12 sm:col-span-6 flex justify-start"
                              data-callback="" data-ajax="false" method="post" data-action="Refresh">
                            <input type="hidden" name="Id" id="Id" value="@item.RecipientId" />
                            <button type="submit"
                                    class="bg-sky-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                                <!-- Heroicon name: solid/plus-sm -->
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                          clip-rule="evenodd" />
                                </svg>
                                Mark Read
                            </button>
                        </form>
                    </td>
                </tr>}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/AlterDataTableDesign.js"></script>
}