@page "{id}"
@model ServiceHost.Areas.Dashboard.Pages.ResetPasswordIndex
@{ ViewData["Title"] = "Dashboard | Reset Password"; }


<div class="divide-y divide-gray-200 lg:col-span-9">
    <!-- operation-result -->
    <div class="rounded-md bg-green-50 p-4 transition ease-in-out duration-75" id="operation-result" style="display: none">
        <div class="flex">
            <div class="flex-shrink-0">
                <!-- Heroicon name: solid/check-circle -->
                <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-3">
                <p class="text-sm font-medium text-green-800" id="operation-result-message">

                </p>
            </div>
        </div>
    </div>
    <div class="rounded-md bg-red-50 p-4 transition ease-in-out duration-75" id="operation-result-failed" style="display: none">
        <div class="flex">
            <div class="flex-shrink-0">
                <!-- Heroicon name: solid/check-circle -->
                <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-3">
                <p class="text-sm font-medium text-red-800" id="operation-result-failed-message">

                </p>
            </div>
        </div>
    </div>
    <!-- end -->

    <div>
        <p class="my-2 mx-2 font-bold text-gray-900">
            Reset Password
        </p>
    </div>

    <div class="divide-y divide-gray-200 lg:col-span-9">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form method="post" data-ajax="true" data-action="Refresh"
                  class="space-y-6 xl:mx-36 lg:mx-24">
                <div>
                    <label class="block text-sm font-medium text-gray-700">
                        Password
                    </label>
                    <div class="mt-1">
                        <input id="password" asp-for="@Model.Command.Password"
                               type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-sky-700 focus:border-sky-700 sm:text-sm">
                        <span id="strength-display" class="text-xs hidden w-1/5 rounded-sm text-white text-center my-1"></span>
                    </div>
                    <span asp-validation-for="@Model.Command.Password" class="text-red-500"></span>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">
                        Confirm Password
                    </label>
                    <div class="mt-1">
                        <input id="confirm-password" asp-for="@Model.Command.ConfirmPassword"
                               type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-sky-700 focus:border-sky-700 sm:text-sm">
                    </div>
                    <span asp-validation-for="@Model.Command.ConfirmPassword" class="text-red-500"></span>
                </div>

                <input asp-for="@Model.Command.UserId" value="@Model.Command.UserId" type="hidden"/>
                <div>
                    <button type="submit"
                            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-sky-700 hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-700">
                        Update your password
                    </button>
                </div>


            </form>
        </div>
    </div>
</div>

@section CSS{
<link rel="stylesheet" href="~/css/Loader.css" />
}

@section Scripts{
    <script src="~/js/password.strength.js"></script>
}
