@page
@using _0_Framework
@using _0_Framework.Application
@inject IAuthenticateHelper AuthenticateHelper;
@model ServiceHost.Areas.Dashboard.Pages.AvailableListing.Detail
@{ ViewData["Title"] = $"Dashboard | Available Listing | {Model.Listing.Name}";}


<div class="divide-y divide-gray-200 lg:col-span-9">
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <!-- operation-result -->
                    <div class="rounded-md bg-green-50 p-4 transition ease-in-out duration-75" id="operation-result" style="display: none">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <!-- Heroicon name: solid/check-circle -->
                                <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-green-800" id="operation-result-message">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="rounded-md bg-red-50 p-4 transition ease-in-out duration-75" id="operation-result-failed" style="display: none">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <!-- Heroicon name: solid/check-circle -->
                                <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-red-800" id="operation-result-failed-message">

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    <div class="flex justify-start">


                        @if (!Model.user.Status)
                        {
                            <span class="text-red-500 pb-3 mx-5 mt-4"> @ApplicationMessage.SubmitRequiredInfo</span>}
                    </div>
                    <form class="divide-y divide-gray-200 lg:col-span-9" method="post" data-callback="" data-ajax="true" data-action="RefreshList">
                        <div class="grid gap-4 sm:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3">
                            <div class="col-span-2 m-7">
                                <h2 class="text-lg font-medium text-gray-900">@Model.Listing.Name</h2>
                                <h2 class="font-medium text-gray-900">Description:</h2>
                                <div class="mt-1 prose prose-sm text-gray-500">
                                    <p>@Model.Listing.Description</p>
                                </div>
                            </div>
                            <div class="col-span-1 m-7">
                                <img class="h-24 w-24 rounded-full float-right"
                                     src="~/Site Files/Listing_Images/@(Model.Listing.Image == "listing-default.png" ? "listing-default.png" : $"{Model.Listing.Type}/{Model.Listing.Image}")"
                                     alt="" />
                            </div>

                        </div>


                        <!-- Policies -->
                        <div aria-labelledby="policies-heading" class="mt-10 px-4">
                            <h2 id="policies-heading" class="sr-only">Our Policies</h2>

                            <div class="my-4 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
                                <div class="bg-gray-50 border border-gray-200 rounded-lg p-6 text-center">
                                    <dt>
                                        <!-- Heroicon name: outline/globe -->
                                        <svg class="mx-auto h-6 w-6 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        <span class="mt-4 text-sm font-medium text-gray-900">
                                            Delivery Method
                                        </span>
                                    </dt>
                                    <dd class="mt-1 text-sm text-gray-500">
                                        @Model.Listing.DeliveryMethod
                                    </dd>
                                </div>

                                <div class="bg-gray-50 border border-gray-200 rounded-lg p-6 text-center">
                                    <dt>
                                        <!-- Heroicon name: outline/currency-dollar -->
                                        <svg class="mx-auto h-6 w-6 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        <span class="mt-4 text-sm font-medium text-gray-900">
                                            Unit Price & Available Amount
                                        </span>
                                    </dt>
                                    <dd class="mt-1 text-sm text-gray-500">
                                        @Model.Listing.UnitPrice <b class="text-xs">@Model.Listing.Unit</b>
                                        @Model.Listing.Amount <b class="text-xs">@Model.Listing.Currency</b>
                                    </dd>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="@Model.Listing.Id" asp-for="@Model.Listing.Id" />
                        <div class="mt-4 py-4 px-4 flex justify-end sm:px-6">

                            <a asp-page="/AvailableListing/Index" asp-area="Dashboard" class="bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                                Back
                            </a>
                            @if (!AuthenticateHelper.CurrentAccountRole().Status)
                            {
                                <button type="submit" @(!AuthenticateHelper.CurrentAccountRole().Status ? "disabled" : "") onclick="gotoTop()"
                                        class="ml-5 @(!AuthenticateHelper.CurrentAccountRole().Status ? "bg-gray-100" : "bg-sky-700") border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white @(!AuthenticateHelper.CurrentAccountRole().Status ? "hover:bg-gray-200" : "hover:bg-sky-800") focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                                    Start Negotiation
                                </button>
                            }
                            else
                            {
                                <button type="submit" onclick="gotoTop()" @(Model.Listing.UserId == AuthenticateHelper.CurrentAccountRole().Id ? "disabled" : "")
                                        class="ml-5 @(Model.Listing.UserId == AuthenticateHelper.CurrentAccountRole().Id ? "bg-gray-100": "bg-sky-700") border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white @(Model.Listing.UserId == AuthenticateHelper.CurrentAccountRole().Id ? "hover:bg-gray-200": "hover:bg-sky-800") focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                                    @(Model.Listing.UserId == AuthenticateHelper.CurrentAccountRole().Id ? "Owend Item": "Start Negotiation")
                                </button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>