@page
@inject _0_Framework.Application.IAutenticateHelper AutenticateHelper;
@model ServiceHost.Areas.Dashboard.Pages.ContactUs.MessageBodyModel;
@{ ViewData["Title"] = "Dashboard | Contact Us"; }

<div class="divide-y divide-gray-200 lg:col-span-9">
    <!-- Profile section -->
    <div class="py-6 px-4 sm:p-6 lg:pb-8">
        <div class="mt-3">
            <strong>Subject:</strong>
            <h2 class="text-lg leading-6 font-medium text-gray-900 mt-1">
                @Model.Message.Subject
            </h2>
            <div class="flex flex-col mt-3">
                <span class="mt-1 text-sm text-gray-500">
                    <strong>Fullname: </strong>
                    @Model.Message.FullName
                </span>
                <span class="mt-1 text-sm text-gray-500">
                    <strong>Email: </strong>
                    @Model.Message.Email
                </span>
                <span class="mt-1 text-sm text-gray-500">
                    <strong>Phone: </strong>
                    @Model.Message.Phone
                </span>
                <span class="mt-1 text-sm text-gray-500">
                    <strong>Creation Time: </strong>
                    @Model.Message.CreationTime
                </span>
            </div>
            <div class="flex flex-col mt-3">
                <strong>Message Body: </strong>
                <p class="mt-1 text-sm text-gray-500">
                    @Model.Message.Body
                </p>
            </div>

            <div class="mt-3 py-4 px-4 flex justify-end sm:px-6">

                <a asp-page="./Index" class="bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                    Back
                </a>
                <form asp-page="./Index" asp-page-handler="IsReed"
                      data-callback="" data-ajax="true" method="post" data-action="Refresh">
                    <input type="hidden" name="Id" id="Id" value="@Model.Message.Id" />
                    <button type="submit" @(Model.Message.IsReed ? "disabled" : "") class="ml-5 @(Model.Message.IsReed ? "bg-gray-100" : "bg-sky-700") border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white @(Model.Message.IsReed ? "bg-gray-100" : "bg-sky-800") focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                        Mark Read
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
