@page "{id}"
@model ServiceHost.Areas.Dashboard.Pages.Users.Role.EditModel
@{ ViewData["Title"] = $"Dashboard | Role | Edit - {Model.Role.Name}"; }

<div class="divide-y divide-gray-200 lg:col-span-9">
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <!-- operation-result -->
                    <div class="rounded-md bg-green-50 p-4 transition ease-in-out duration-75" id="operation-result" style="display: none">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <!-- Heroicon name: solid/check-circle -->
                                <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-green-800" id="operation-result-message">

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="rounded-md bg-red-50 p-4 transition ease-in-out duration-75" id="operation-result-failed" style="display: none">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <!-- Heroicon name: solid/check-circle -->
                                <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-red-800" id="operation-result-failed-message">

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    <h2 class="m-2">@Model.Role.Name</h2>
                    <form asp-page-handler="Edit" class=" lg:col-span-9 m-2" id="form" data-ajax="true"
                          method="post">
                        <div class="mt-6 grid grid-cols-12 gap-6">
                            <div class="col-span-12 sm:col-span-6">
                                <label asp-for="@Model.Role.Name" class="block text-sm font-medium text-gray-700"> Name </label>
                                <input asp-for="@Model.Role.Name" type="text" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm" />
                                <span asp-validation-for="@Model.Role.Name" class="text-danger"></span>
                            </div>
                            <div class="col-span-12 sm:col-span-6">
                                <label class="block text-sm font-medium text-gray-700">Permissions</label>
                                <select asp-items="Model.PermissionItems" asp-for="@Model.Role.Permissions"
                                        multiple="multiple" class="multi-select" id="permissions">
                                </select>
                            </div>
                        </div>

                        <input type="hidden" asp-for="@Model.Role.Id" value="@Model.Role.Id" />
                        <div class="flex flex-col my-4 lg:mx-4 mx-0">
                            <div class="self-end">
                                <a asp-page="Index" class="bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4
                               inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50
                               focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
                                    Back
                                </a>
                                <button type="submit"
                                        class="ml-2 bg-sky-700 border border-transparent rounded-md shadow-sm
                                    py-2 px-4 inline-flex justify-center text-sm font-medium text-white
                                    hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-offset-2
                                    focus:ring-sky-700">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section CSS{
    <link href="~/js/jquery-multi-select/multi-select.css" rel="stylesheet" type="text/css"/>
}

@section Scripts
{
    <script type="text/javascript" src="~/js/jquery-multi-select/jquery.multi-select.js"></script>
    <script type="text/javascript" src="~/js/jquery-multi-select/jquery.quicksearch.js"></script>
    <script>
        //multiselect start

        $('#permissions').multiSelect({
            selectableOptgroup: true,
            selectableHeader: "<input type='text' class='mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 mb-2 px-3 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 mb-2 px-3 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
    </script>
}