@page "{id}"
@using _0_Framework.Application
@model ServiceHost.Areas.Dashboard.Pages.Deals.QuatationModel;
@inject IAuthenticateHelper AuthenticateHelper;
@{ ViewData["Title"] = $"Dashboard | Deals | {@Model.Command.ItemName} Quatation"; }


<form class="divide-y divide-gray-200 lg:col-span-9"
      method="post"
      data-callback="" data-ajax="true" data-action="Refresh"
      enctype="multipart/form-data">
    <!-- operation-result -->
    <div class="rounded-md bg-green-50 p-4 transition ease-in-out duration-75" id="operation-result" style="display: none">
        <div class="flex">
            <div class="flex-shrink-0">
                <!-- Heroicon name: solid/check-circle -->
                <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-3">
                <p class="text-sm font-medium text-green-800" id="operation-result-message">

                </p>
            </div>
        </div>
    </div>
    <div class="rounded-md bg-red-50 p-4 transition ease-in-out duration-75" id="operation-result-failed" style="display: none">
        <div class="flex">
            <div class="flex-shrink-0">
                <!-- Heroicon name: solid/check-circle -->
                <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-3">
                <p class="text-sm font-medium text-red-800" id="operation-result-failed-message">

                </p>
            </div>
        </div>
    </div>
    <!-- end -->
    <div class="mt-6 flex flex-col lg:flex-row">
        <div class="flex-grow space-y-6 mx-4">
            <div class="mt-6 grid grid-cols-2 gap-2">
                <div class="col-span-2 sm:col-span-1 space-y-1">
                    <label asp-for="@Model.Command.Listing.Name" class="block text-sm font-medium text-gray-700"></label>
                    <p class="mt-1 block w-full border border-gray-100 bg-gray-100 rounded-md shadow-sm py-2 px-3 sm:text-sm">
                        @Model.Command.Listing.Name
                    </p>

                    <label asp-for="@Model.Command.Listing.Description" class="block text-sm font-medium text-gray-700"></label>
                    <p class="mt-1 block w-full border border-gray-100 bg-gray-100 rounded-md shadow-sm py-2 px-3 sm:text-sm">
                        @Model.Command.Listing.Description
                    </p>

                    <label class="block text-sm font-medium text-gray-700">Delivery Location Address</label>
                    <select asp-for="@Model.Command.DeliveryLocation.LocationId"
                            asp-items="@Model.DeliveryLocationSelectList" onchange="renderLocation(this.value)"
                            class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm rounded-md">
                        <option value="">
                            Please select your delivery location
                        </option>
                    </select>
                    <span asp-validation-for="@Model.Command.Location" class="text-red-500 text-sm"></span>

                    <div class="col-span-2 sm:col-span-1">
                        <label class="block text-sm font-medium text-gray-700">Check Your Delivery Location</label>
                        <a href="#showmodal=@Url.Page("../Profile", "AddDeliveryLocation", new {Id = Model.LoggedUser.Id})" id="showModal"
                           onclick="showModal()"
                           class="mt-1 bg-white border border-gray-300 rounded-md shadow-sm py-1 px-4 inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-700">
                            Add
                        </a>
                        <a href="#showmodal=@Url.Page("../Profile", "ListDeliveryLocation", new {Id = Model.LoggedUser.Id})" id="showModal"
                           onclick="showModal()"
                           class="mt-1 bg-white border border-gray-300 rounded-md shadow-sm py-1 px-4 inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-700">
                            List
                        </a>
                    </div>
                    <div class="col-span-2 sm:col-span-1 hidden" id="delivery-location-wrapper">
                        <div class="text-sm text-gray-800">
                            <span class="text-sm text-gray-900 font-medium">Address Name:</span>
                            <span class="text-sm text-gray-800" id="address-name"></span>
                            <div class="flex flex-col">
                                <p class="text-sm text-gray-800" id="country">
                                    <span class="text-sm text-gray-900 font-medium">Country:</span>
                                </p>
                                <p class="text-sm text-gray-800" id="city">
                                    <span class="text-sm text-gray-900 font-medium">City:</span>
                                </p>
                                <p class="text-sm text-gray-800" id="address-line-one">
                                    <span class="text-sm text-gray-900 font-medium">Address Line 1:</span>
                                </p>
                                <p class="text-sm text-gray-800" id="address-line-two">
                                    <span class="text-sm text-gray-900 font-medium">Address Line 2:</span>
                                </p>
                                <p class="text-sm text-gray-800" id="postal-code">
                                    <span class="text-sm text-gray-900 font-medium">Postal Code:</span>
                                </p>
                                <p class="hidden" id="latitude"></p>
                                <p class="hidden" id="longitude"></p>
                            </div>
                            <div class="space-y-32 rounded-md" id="map-wrapper-create"></div>
                        </div>
                    </div>
                </div>


                <div class="col-span-2 sm:col-span-1 space-y-1">

                    <label asp-for="@Model.Command.Currency" class="block text-sm font-medium text-gray-700"></label>
                    <select asp-for="@Model.Command.Currency"
                            asp-items="@Model.CurrencyList" id="selected-currency" onchange="checkAmount(this.value, @Model.Command.ListingId)"
                            class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm rounded-md">
                        <option value="">
                            Please select your currency
                        </option>
                    </select>
                    <span asp-validation-for="@Model.Command.Currency" class="text-red-500 text-sm"></span>

                    <label class="block text-sm font-medium text-gray-700"> Delivery Charges </label>
                    <select asp-items="@Model.DeliveryCharges" asp-for="@Model.Command.DeliveryMethod"
                            class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm rounded-md">
                        <option value="">
                            Who Pays The Delivery Cost
                        </option>
                    </select>
                    <span asp-validation-for="@Model.Command.DeliveryMethod" class="text-red-500 text-sm"></span>

                    <span id="show-currency-1" class="absolute ml-28 lg:ml-40 sm:pt-8 pt-9 md:ml-28 text-sm"></span>
                    <label class="block text-sm font-medium text-gray-700">Delivery Cost</label>
                    <input type="text" asp-for="@Model.Command.DeliveryCost" id="delivery-cost" onchange="checkAmount()"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm">
                    <span asp-validation-for="@Model.Command.DeliveryCost" class="text-red-500 text-sm"></span>

                    <span id="show-currency-2" class="absolute ml-28 lg:ml-40 sm:pt-8 pt-9 md:ml-28 text-sm"></span>
                    <label asp-for="@Model.Command.Amount" class="block text-sm font-medium text-gray-700"></label>
                    <input type="text" asp-for="@Model.Command.Amount"
                           onchange="checkAmount(this.value, @Model.Command.ListingId)" id="deal-amount"
                           class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm">
                    <span asp-validation-for="@Model.Command.Amount" class="text-red-500 text-sm"></span>
                    <div id="check-amount-wrapper" class="flex hidden bg-yellow-50 border border-yellow-500 my-1 rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 self-center text-yellow-600 mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                        </svg>
                        <span id="check-amount" class="text-yellow-600 text-xs font-medium self-center py-1">
                        </span>
                    </div>

                    <label asp-for="@Model.Command.Unit" class="block text-sm font-medium text-gray-700"></label>
                    <input type="text" asp-for="@Model.Command.Unit" readonly="readonly"
                           class="mt-1 block w-full border border-gray-100 bg-gray-100 rounded-md shadow-sm py-2 px-3 sm:text-sm">

                    <span id="show-currency-3" class="absolute ml-28 lg:ml-40 sm:pt-8 pt-9 md:ml-28 text-sm"></span>
                    <label class="block text-sm font-medium text-gray-700"> Unit Price </label>
                    <input type="text" asp-for="@Model.Command.Listing.UnitPrice" readonly="readonly" id="deal-unit-price"
                           class="mt-1 block w-full border border-gray-100 bg-gray-100 rounded-md shadow-sm py-2 px-3 sm:text-sm">

                    <span id="show-currency-4" class="absolute ml-28 lg:ml-40 sm:pt-8 pt-9 md:ml-28 text-sm"></span>
                    <label class="block text-sm font-medium text-gray-700">Total Cost</label>
                    <input type="number" asp-for="@Model.Command.TotalCost" readonly="readonly" id="total-cost"
                           class="mt-1 block w-full border border-gray-100 bg-gray-100 rounded-md shadow-sm py-2 px-3 sm:text-sm">

                    @if (Model.Command.ContractFileString != null)
                    {
                        <div class="py-2">
                            <a href="~/Site Files/Deal Documents/@Model.Command.NegotiateId/@Model.Command.ContractFileString"
                               class="w-full border rounded-md shadow-sm px-2 py-2 sm:text-sm bg-sky-700 text-white">
                                @(Model.Command.ContractFileString != null ? "Open Contract File" : "No Contract File")
                            </a>
                        </div>

                    }
                    <label class="block text-sm font-medium text-gray-700 mt-3">Contract</label>
                    <input type="file" asp-for="@Model.Command.ContractFile" accept="application/pdf"
                           class="mt-1 block w-full border border-gray-100 rounded-md shadow-sm py-2 px-3 sm:text-sm">
                </div>

                <input type="hidden" asp-for="@Model.Command.NegotiateId">
                <input type="hidden" asp-for="@Model.Command.ListingId">
                <input type="hidden" asp-for="@Model.Command.DealId">
            </div>
        </div>
    </div>
    <div class="mt-4 py-4 px-4 flex flex-col sm:px-6">
        <div class="lg:-mr-2 md:-mr-2 mr-2 self-end">
            <a asp-page="/Deals/Index" asp-route-id="@Model.LoggedUser.Id"
               asp-area="Dashboard" class="bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-700">
                Back
            </a>
            <button id="save" type="submit" class="ml-2 bg-sky-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-700">
                Save
            </button>
        </div>
    </div>
</form>


@section CSS
{
    <link rel="stylesheet" href="~/css/mapbox-gl.css" />
}

@section Scripts
{
    <script type="text/javascript" src="~/js/mapbox-gl.js"></script>
    <script>
        $(document).ready(() => {
            checkAmount();
            var locationId = @Html.Raw(Model.Command.DeliveryLocation.LocationId);
            setTimeout(() => {
                renderLocation(locationId.toString())
            }, 100)
        });
    </script>
}