@page
@using _0_Framework
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@using Newtonsoft.Json
@inject IConfiguration Configuration;
@model ServiceHost.Areas.Dashboard.Pages.Listing.CreateModel;
@inject IHttpContextAccessor _ContextAccessor;
@{ ViewData["Title"] = "Dashboard | Listing | Register a new listing"; }


<form class="divide-y divide-gray-200 lg:col-span-9" id="form"
      data-callback="" data-ajax="true" method="post" data-action="Refresh"
      enctype="multipart/form-data">
    <!-- operation-result -->
    <div class="rounded-md bg-green-50 p-4 transition ease-in-out duration-75" id="operation-result" style="display: none">
        <div class="flex">
            <div class="flex-shrink-0">
                <!-- Heroicon name: solid/check-circle -->
                <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-3">
                <p class="text-sm font-medium text-green-800" id="operation-result-message">

                </p>
            </div>
        </div>
    </div>
    <div class="rounded-md bg-red-50 p-4 transition ease-in-out duration-75" id="operation-result-failed" style="display: none">
        <div class="flex">
            <div class="flex-shrink-0">
                <!-- Heroicon name: solid/check-circle -->
                <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-3">
                <p class="text-sm font-medium text-red-800" id="operation-result-failed-message">

                </p>
            </div>
        </div>
    </div>
    <!-- end -->
    <div class="py-6 px-4 sm:p-6 lg:pb-8">
        <div class="mt-6 flex flex-col lg:flex-row">
            <div class="flex-grow space-y-6 lg:mr-16">
                <div class="col-span-12 sm:col-span-6 flex justify-start">
                    <input asp-for="Command.IsService" type="checkbox" onclick="listingIsService()"
                           class="h-4 w-4 text-sky-800 focus:ring-sky-700 border-gray-300 rounded mt-1" id="is-service">
                    <label asp-for="Command.IsService" class="block text-sm font-medium text-gray-700 ml-2 pt-0.5">
                        Service Listing
                    </label>
                </div>
                <div>
                    <label asp-for="@Model.Command.Name" class="block text-sm font-medium text-gray-700">
                    </label>
                    <div class="mt-1 rounded-md flex-col flex">
                        <input type="text" asp-for="@Model.Command.Name" class="focus:ring-sky-700 focus:border-sky-500 flex-grow block w-full min-w-0 rounded sm:text-sm border-gray-300">
                        <span class="text-red-500 sm:text-sm" asp-validation-for="@Model.Command.Name"></span>
                    </div>
                </div>

                <div>
                    <label asp-for="@Model.Command.Description" class="block text-sm font-medium text-gray-700">
                        Description
                    </label>
                    <div class="mt-1">
                        <textarea asp-for="@Model.Command.Description" rows="3" class="shadow-sm focus:ring-sky-700 focus:border-sky-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
                    </div>
                    <p class="mt-2 text-sm text-gray-500">
                        Brief description for your listing.
                    </p>
                </div>
            </div>



            <div class="mt-6 flex-grow lg:ml-6 lg:mr-16 lg:flex-grow-0 lg:flex-shrink-0">
                <p class="text-sm font-medium text-gray-700" aria-hidden="true">
                    Photo
                </p>
                <div class="mt-1 lg:hidden">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 inline-block rounded-full overflow-hidden h-12 w-12" aria-hidden="true">
                            <img class="rounded-full h-full w-full" src="~/Site Files/Listing_Images/listing-default.png"
                                 id="item-image-photo-mobile"
                                 alt="">
                        </div>
                        <div class="ml-5 rounded-md shadow-sm">
                            <div class="group relative border border-gray-300 rounded-md py-2 px-3 flex items-center justify-center hover:bg-gray-50 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-sky-700">
                                <label for="mobile-user-photo" class="relative text-sm leading-4 font-medium text-gray-700 pointer-events-none">
                                    <span>Change</span>
                                    <span class="sr-only"> Photo</span>
                                </label>
                                <input id="item-image-mobile" asp-for="@Model.Command.Image" type="file" accept="image/*"
                                       class="absolute w-full h-full opacity-0 cursor-pointer border-gray-300 rounded-md">
                                <span class="text-red-500 sm:text-sm" asp-validation-for="@Model.Command.Image"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hidden relative rounded-full overflow-hidden lg:block">
                    <img class="relative rounded-full w-40 h-40 lg:w-52 lg:h-52" id="item-image-photo"
                         src="~/Site Files/Listing_Images/listing-default.png" alt="">
                    <label class="absolute inset-0 w-full h-full bg-black bg-opacity-75 flex items-center
                           justify-center text-sm font-medium text-white opacity-0 hover:opacity-100
                           focus-within:opacity-100">
                        <span>Change</span>
                        <span class="sr-only"> Listing Photo </span>
                        <input type="file" id="item-image" asp-for="@Model.Command.Image" accept="image/*"
                               class="absolute inset-0 w-full h-full opacity-0 cursor-pointer border-gray-300 rounded-md">
                        <span class="text-red-500 sm:text-sm" asp-validation-for="@Model.Command.Image"></span>
                    </label>
                </div>
            </div>
        </div>

        <!-- Nace Section -->
        <div class="mt-6 grid grid-cols-12 gap-6">
            <div class="col-span-12 sm:col-span-6">
                <label asp-for="@Model.Command.NaceId" class="block text-sm font-medium text-gray-700">
                    NACE Code
                </label>
                <select asp-items="@Model.NaceSelectList" asp-for="@Model.Command.NaceId" formnovalidate="formnovalidate"
                        onchange="RenderTable(this.value)"
                        class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-sky-700 focus:border-sky-700 sm:text-sm rounded-md">
                    <option value="0">
                        Please Select a NACE
                    </option>
                </select>
                <p class="mt-2 text-sm text-gray-500">
                    Statistical Classification of Economic Activities in the European Community
                </p>
            </div>
            <div class="shadow border-b border-gray-200 sm:rounded-lg col-span-12 hidden" id="nace-table-wrapper">
                <table class="min-w-full border-collapse block md:table" id="main-table">
                    <thead class="block md:table-header-group">
                    </thead>
                    <tbody class="block md:table-row-group" id="nace-info-wrapper">
                    </tbody>
                </table>
            </div>
        </div>

        <!--End of Nace Section -->
        <!--Start of Location Section-->

        <div class="mt-6 grid grid-cols-12 gap-6">
            <div class="col-span-12 sm:col-span-6">
                <label class="block text-sm font-medium text-gray-700">Delivery Location Address</label>
                <select asp-for="@Model.Command.Location"
                        asp-items="@Model.DeliveryLocationSelectList" onchange="renderLocation(this.value)"
                        class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm rounded-md">
                    <option value="">
                        Please select your delivery location
                    </option>
                </select>
                <span asp-validation-for="@Model.Command.Location" class="text-red-500 text-sm"></span>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <div class="col-span-2 sm:col-span-1">
                    <label class="block text-sm font-medium text-gray-700">Check Your Delivery Location</label>
                    <a href="#showmodal=@Url.Page("../Profile", "AddDeliveryLocation", new {Id = Model.LoggedUser.Id})" id="showModal"
                       onclick="showModal()"
                       class="mt-1 bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4 inline-flex
                           justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none
                           focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
                        Add
                    </a>
                    <a href="#showmodal=@Url.Page("../Profile", "ListDeliveryLocation", new {Id = Model.LoggedUser.Id})" id="showModal"
                       onclick="showModal()"
                       class="mt-1 bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4 inline-flex j
                           ustify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none
                           focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
                        List
                    </a>
                </div>
            </div>
        </div>
        <!-- End of Location section-->


        <div class="mt-6 grid grid-cols-12 gap-6">
            <div class="col-span-12 sm:col-span-6">
                <label asp-for="@Model.Command.DeliveryMethod" class="block text-sm font-medium text-gray-700">
                    Delivery Method
                </label>
                <select asp-items="@Model.DeliveryCharges" asp-for="@Model.Command.DeliveryMethod"
                        class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-sky-700 focus:border-sky-700 sm:text-sm rounded-md">
                    <option value="">
                        Who Pays The Delivery Cost
                    </option>
                </select>
                <span class="text-red-500 sm:text-sm" asp-validation-for="@Model.Command.DeliveryMethod">

                </span>
            </div>

            <div class="col-span-12 sm:col-span-6" id="listing-unit">
                <label asp-for="@Model.Command.Unit" class="block text-sm font-medium text-gray-700"></label>
                <input type="text" asp-for="@Model.Command.Unit"
                       class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm">
                <span class="text-red-500 sm:text-sm" asp-validation-for="@Model.Command.Unit"></span>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <label asp-for="@Model.Command.UnitPrice" class="block text-sm font-medium text-gray-700">
                    Unit Price
                </label>
                <input type="text" asp-for="@Model.Command.UnitPrice"
                       class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm">
                <span class="text-red-500 sm:text-sm" asp-validation-for="@Model.Command.UnitPrice"></span>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <label asp-for="@Model.Command.Currency" class="block text-sm font-medium text-gray-700"></label>
                <select asp-for="@Model.Command.Currency"
                        asp-items="@Model.CurrencyList"
                        class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-sky-700 focus:border-sky-700 sm:text-sm rounded-md">
                    <option value="">
                        Please select your currency
                    </option>
                </select>
                <span asp-validation-for="@Model.Command.Currency" class="text-red-500 text-sm"></span>
            </div>
            <div class="col-span-12 sm:col-span-6" id="listing-amount">
                <label asp-for="@Model.Command.Amount" class="block text-sm font-medium text-gray-700"></label>
                <input type="text" asp-for="@Model.Command.Amount"
                       class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-700 focus:border-sky-500 sm:text-sm">
                <span class="text-red-500 sm:text-sm" asp-validation-for="@Model.Command.Amount"></span>
            </div>
            <div class="col-span-12 sm:col-span-6 flex justify-start">
                <input asp-for="Command.Status" type="checkbox" class="h-4 w-4 text-sky-800 focus:ring-sky-700 border-gray-300 rounded mt-1">
                <label asp-for="Command.Status" class="block text-sm font-medium text-gray-700 ml-2 pt-0.5">
                    Mark Private
                </label>
            </div>


        </div>
        <div class="flex flex-col mt-4">
            <div class="self-end">
                <a asp-page="/Listing/Index" asp-area="Dashboard" class="bg-white border border-gray-300 rounded-md shadow-sm
               py-2 px-4 inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none
               focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
                    Back
                </a>
                <button id="save" onclick="loading()"
                        type="submit" class="ml-2 bg-sky-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-700">
                    Save
                </button>
            </div>
        </div>
    </div>
</form>

@section CSS
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/2.9.1/mapbox-gl.min.css" integrity="sha512-Wrc9YCdBwmoXlSZVGgjLlcda8Iy0bPYwj2u8+/5VEhd3aMOTzu/bfl6ho4ma17rPu1uwjQCOqSNHSUvDg+lRPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/Loader.css" />
}


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/2.9.1/mapbox-gl.js" integrity="sha512-p6t2FhDiO8dvaak6FTbEB0JJTV5T2duw8VVGj28Awd2U/ShqcKs/2dpC03J0bsbVlDRFUKyvuizFuUX/4SD9LQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#item-image-photo').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#item-image").change(function () {
            readURL(this);
        });

        function readURLMobile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#item-image-photo-mobile').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#item-image-mobile").change(function () {
            readURLMobile(this);
        });

        function RenderTable(val) {
            handleGetNaceDetail(val);
        }
    </script>
}
